.attribution { 
    font-size: 11px; 
    text-align: center; 

    display: flex;
    flex-direction: row;
    gap: 10px;
    color: hsl(0, 0%, 0%);
    margin-top: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-size: 14px;
    font-family: work-sans;
    background-image: url("/faq-accordion/assets/images/background-pattern-desktop.svg"); 
    background-position: top;
    background-repeat: repeat-x;
    background-size: 200vh;
    background-color: hsl(275, 100%, 97%);
}

#accordion-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accordion {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    padding: 1.0rem;

    border-radius: 1.0rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion-button {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 10px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: white;
}

.accordion-button p {
    color: hsl(292, 42%, 14%);
}

.accordion-button p:hover {
    transition: 0.1s;
    color: hsl(292, 16%, 49%);
}




